@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap");

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: none;
}

.sign-up-form {
  height: 50vmin;
  width: 30vmin;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  font-family: "MuseoModerno", cursive;
  z-index: 2;
  filter: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  filter: none;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.auth-btn {
  padding: 15px 30px;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.auth-btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
