body {
  /* grid-template-rows: repeat(2, 37vmin); */
  background-color: #012a4a;
  color: white;

  font-family: Arial;
  text-align: center;
  background-image: url("../../images/giphy.gif");
  background-size: cover;
}
/* HOME PAGE */
.scroll {
  width: 100%;
  height: 75vmin;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #c1d3f77a;
  border-radius: 10px;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(3, 55vmin);
  grid-gap: 30px;
  /* grid-template-rows: repeat(2, 37vmin); */
}

#search-bar > ul > li {
  list-style: none;
}

li {
  list-style: none;
}

input {
  display: center;
}
