.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  /* grid-template-rows: repeat(2, 37vmin); */
  background-color: #a5b8de;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

/* HOME PAGE */
.scroll {
  width: 100%;
  height: 75vmin;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #c1d3f7;
  border-radius: 10px;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(3, 55vmin);
  /* grid-template-rows: repeat(2, 37vmin); */
}

#search-bar > ul > li {
  list-style: none;
}
